Y2026/03_Mar/13th/homwork/n8n/homwork_study.json
{
  "name": "study",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "한글로 번역을 해주세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        -32
      ],
      "id": "afea8285-b3bb-42db-a7ae-c18485f58fe0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        176,
        160
      ],
      "id": "12bd12d2-a6cb-4cbd-b238-9da35b56f175",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "GE7lou4VBDn6vagy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers.origin }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        272
      ],
      "id": "8bbfffd3-402d-4b41-8a26-738e7285a118",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "2WBeTDAtiMqazkzB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "homework",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -32
      ],
      "id": "2868b03f-5e49-45d9-81e7-7c1f51b6a4e8",
      "name": "Webhook",
      "webhookId": "b960ca27-1ac9-4a1d-8636-10bd40b907b0",
      "credentials": {
        "jwtAuth": {
          "id": "sxLvnoO8KPhNZy65",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: true,\n  content: $json.content\n}\n}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://192.168.0.103:5173"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,DELETE"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        160
      ],
      "id": "62c82ef2-59c1-4418-adf9-2a94add9342c",
      "name": "Respond to Webhook 103"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: true,\n  content: $json.content\n}\n}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://192.168.0.104:5173"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,DELETE"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        32
      ],
      "id": "6e2670b3-2643-4be3-8aa2-5d11e3f9480a",
      "name": "Respond to Webhook 104"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: true,\n  content: $json.content\n}\n}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://192.168.0.107:5173"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,DELETE"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        -96
      ],
      "id": "256e2f57-6d9d-4ae8-83b1-bf92f123c211",
      "name": "Respond to Webhook 107"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: true,\n  content: $json.content\n}\n}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://192.168.0.203:5173"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,DELETE"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1024,
        -240
      ],
      "id": "5d1a1c8b-e907-4ed5-99e8-4481b763b7f8",
      "name": "Respond to Webhook 203"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\nconst max = 1900;\n\nconst paragraphs = text.split(\"\\n\\n\");\nlet messages = [];\nlet current = \"\";\n\nfor (const p of paragraphs) {\n  if ((current + p).length > max) {\n    messages.push(current);\n    current = p;\n  } else {\n    current += \"\\n\\n\" + p;\n  }\n}\n\nmessages.push(current);\n\nreturn messages.map(m => ({json:{content:m}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -32
      ],
      "id": "143ee650-646c-4c29-be84-6c445677ddd2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -400
      ],
      "id": "b8e69e2f-ccaa-42ec-a38e-19bc92354edb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\nconst max = 1900;\n\nconst paragraphs = text.split(\"\\n\\n\");\nlet messages = [];\nlet current = \"\";\n\nfor (const p of paragraphs) {\n  if ((current + p).length > max) {\n    messages.push(current);\n    current = p;\n  } else {\n    current += \"\\n\\n\" + p;\n  }\n}\n\nmessages.push(current);\n\nreturn messages.map(m => ({json:{content:m}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -336
      ],
      "id": "d461750b-be54-4d98-85e8-79fc6ceee70f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.headers.origin }}",
                    "rightValue": "=http://192.168.0.203:5173",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9cd5d006-5dbc-4fff-bf82-73c2390aaea4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db956193-05af-41ff-8207-13d4ae1bbe70",
                    "leftValue": "={{ $('Webhook').item.json.headers.origin }}",
                    "rightValue": "=http://192.168.0.107:5173",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc2564da-5ad1-4e02-bbf2-f3bc3e0e4a8d",
                    "leftValue": "={{ $('Webhook').item.json.headers.origin }}",
                    "rightValue": "=http://192.168.0.104:5173",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4d317f2-a825-4dd6-a2f3-d892169b9247",
                    "leftValue": "={{ $('Webhook').item.json.headers.origin }}",
                    "rightValue": "=http://192.168.0.103:5173",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -64
      ],
      "id": "b42048a4-dff7-4400-9df1-35da06958f11",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook 203",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook 107",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook 104",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook 103",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "375af681-72e2-4799-84ab-2dc343846783",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "336db666886ddd04512d2464ac6be75eb6aa4524845ba4074d508c984cd46f81"
  },
  "id": "WDOZNyT83OmCHvMY",
  "tags": []
}