study/backup/study/Y2026/03_Mar/12th/n8n/study4.json
{
  "name": "study4",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -224,
        -352
      ],
      "id": "69983756-9305-44b0-998f-b6de1cedc0c8",
      "name": "When chat message received",
      "webhookId": "9400d2c1-b7c1-4399-9bb7-7be82501d8f4",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "한글로 번역을 해주세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -176
      ],
      "id": "26208408-b797-4fdc-95b2-10073481fb1f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -64,
        16
      ],
      "id": "09bd8759-4e16-47cd-b472-1a4361afab10",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "sGS9O4T0AaR2EILc",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        128
      ],
      "id": "12b45304-a8e8-4d39-8eb0-88f089cde510",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.channelId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        32,
        128
      ],
      "id": "8b2c118c-c337-47e0-82b5-05b0ab7cee09",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Cqk2HafGekRDGaBm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "guildIds": [
          "1469140948385792194"
        ],
        "categoryIds": [
          "1469140949878837289"
        ],
        "channelIds": [
          "1481224752499523645"
        ],
        "pattern": "every",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger-new.discordTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -176
      ],
      "id": "a6edd35e-7619-432b-9c1a-61dac28becbb",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "sCQ99mm3TeOKMsee",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\nconst max = 1900;\n\nconst paragraphs = text.split(\"\\n\\n\");\nlet messages = [];\nlet current = \"\";\n\nfor (const p of paragraphs) {\n  if ((current + p).length > max) {\n    messages.push(current);\n    current = p;\n  } else {\n    current += \"\\n\\n\" + p;\n  }\n}\n\nmessages.push(current);\n\nreturn messages.map(m => ({json:{content:m}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -176
      ],
      "id": "2e7b3bb1-9ec5-4205-84cf-a94dc9d2f868",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1469140948385792194",
          "mode": "list",
          "cachedResultName": "호리에상님의 개인 서버",
          "cachedResultUrl": "https://discord.com/channels/1469140948385792194"
        },
        "channelId": {
          "__rl": true,
          "value": "1481224752499523645",
          "mode": "list",
          "cachedResultName": "잡빈스",
          "cachedResultUrl": "https://discord.com/channels/1469140948385792194/1481224752499523645"
        },
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        448,
        -176
      ],
      "id": "feddacd4-9179-4904-a0c5-c329f9baac92",
      "name": "Send a message",
      "webhookId": "9c799719-6dc2-413e-a7a3-eac3a44512c4",
      "credentials": {
        "discordOAuth2Api": {
          "id": "FPtheUcg5qlxIPYt",
          "name": "Discord account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "14336355-a83f-4a32-accf-c98a8675f284",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8f05ce378d2c8a1985aff054735f2b87482025e256b72257388e7fa7904e7f6"
  },
  "id": "HHGlmsUgW9L7KuER",
  "tags": []
}