Y2026/03_Mar/13th/stady8.json
{
  "name": "stady8",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "POST",
          "DELETE",
          "PUT"
        ],
        "path": "app",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -96
      ],
      "id": "5567c063-e8ca-41a1-abfb-4aef9014b53c",
      "name": "Webhook",
      "webhookId": "b960ca27-1ac9-4a1d-8636-10bd40b907b0",
      "credentials": {
        "httpHeaderAuth": {
          "id": "78Ob8KGfPILuAlXa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: true,\n  result: $json.result\n}\n}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://192.168.0.103:5173"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,PUT,DELETE"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        96,
        -224
      ],
      "id": "155cbfde-f33b-432e-a8aa-78a17d1adc0c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -304,
        -224
      ],
      "id": "2d1edbaa-5a8c-4141-a164-627395a9e718",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "J1WhCJd6PsNopytx",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nreturn[\n  {json:{\n    result: rows\n  }}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -224
      ],
      "id": "f02f2d67-c2df-4d73-9818-8483d03a61a8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "title",
              "value": "={{ $json.query.email }}"
            },
            {
              "column": "content",
              "value": "={{ $json.query.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -496,
        -304
      ],
      "id": "f0af1062-039d-4329-ae6b-cd7d22df5061",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "J1WhCJd6PsNopytx",
          "name": "MySQL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "title",
              "value": "={{ $json.body.email }}"
            },
            {
              "column": "content",
              "value": "={{ $json.body.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -496,
        -96
      ],
      "id": "a22044cd-48f7-4a0d-930d-f66f3a6a0669",
      "name": "Insert rows in a table1",
      "credentials": {
        "mySql": {
          "id": "J1WhCJd6PsNopytx",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "46823e19-27fb-4941-828f-5a694711aefe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8f05ce378d2c8a1985aff054735f2b87482025e256b72257388e7fa7904e7f6"
  },
  "id": "LO24nozAlgnuTSKC",
  "tags": []
}