Y2026/03_Mar/12th/n8n/study6.json
{
  "name": "study6",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -64
      ],
      "id": "6fc65620-466a-460e-8fa3-9172c92d6a9f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "melon",
          "mode": "list",
          "cachedResultName": "melon"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        -64
      ],
      "id": "720d1df7-c016-408f-b5e8-e5475f394221",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "J1WhCJd6PsNopytx",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.img }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        -64
      ],
      "id": "dbf1c9e2-a226-4add-ba54-954d50106ed6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "name": "={{ $json.title }}.png",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1XXXH8hwH1QUOk9CzMWhszbuvDFbEiJAM",
          "mode": "list",
          "cachedResultName": "n8n_img_melon",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XXXH8hwH1QUOk9CzMWhszbuvDFbEiJAM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        -64
      ],
      "id": "383877f5-bec1-4bb3-8ab6-a5642ae80080",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dmDvQhOwzeV9Ovjb",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fafc461-f1ee-45ee-841c-12de185f2452",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8f05ce378d2c8a1985aff054735f2b87482025e256b72257388e7fa7904e7f6"
  },
  "id": "s0qosJKX8KKSRTK8",
  "tags": []
}